*, *::before, *::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

header img{
  width: 20%;
}


@font-face {
 font-family: "Raleway";
 src: url("Raleway-SemiBold.ttf") format("ttf");
}

h1{
  font-size: inherit;
  font-family: 'Raleway', serif;
  text-align: center;
  line-height: 1.5em;
  position: absolute;
  opacity: 0.5;
  top: 76%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.container {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  text-align: center;
  color: white;
}

.container img{
  width: 112%;
}

.menu-nav{
  margin-left: 9em;
  padding-top: 1em;
  padding-bottom: 2em;
}

.menu-nav a {
  display:inline-block;
  text-decoration: none;
  padding-left: 2em;
  text-align: justify;
  font-family: 'Cardo', serif;
  color: #586F7C;
}


#intro_color{
  margin-left: 2em;
  margin-top: 2em;
  text-align: center;
}


#intro_color p {
  text-align: justify;
  font-size: x-large;
      font-family: 'Raleway', sans-serif;
      text-align: center;
      line-height: 1.5em;
      position: absolute;
      opacity: 0.5;
      top: 85%;
      left: 35%;
      color: #eca109;
  transform: translate(-50%, -50%);
}

h2{
  text-align: center;
}

.container2 img{
  width: 100%;
}

#intro_arty p {
  text-align: justify;
  font-size: x-large;
      font-family: 'Raleway', sans-serif;
      text-align: center;
      line-height: 1.5em;
      position: absolute;
      opacity: 0.5;
      top: 331%;
      left: 48%;
      color: #232322;
  transform: translate(-50%, -50%);
}




/* page artistes */

h2{
  margin-top: 5em;
  margin-bottom: 5em;
}
.container3 {
  position: relative;

}
.container3 img{
  width: 100%;
}

.intro_arty p {
  text-align: justify;
  font-size: small;
      font-family: 'Raleway', sans-serif;
      text-align: center;
      line-height: 1.5em;
      position: absolute;
      opacity: 0.5;
      top: 15%;
      left: 68%;
      color: #efef0c;
  transform: translate(-50%, -50%);
}

.image-de-fond img{
  width: 100%;
}

.image-de-fond .navbar{
  transform: translate(0%, -650%);

}

/* ------------------------page artiste --------------------------------- */

h4{
  color: #F45B69;
  font-family: 'Domine', serif;
  font-size: 70px;
  line-height: 105px;
  font-weight: 600;
  padding: 0.5em 0.5em;

}

.portfolio-experiment a {
  color: #003049;
  padding: 0.7em calc(0.7em * 1.2);
  display: inline-block;
  border: 3px solid transparent;
  position: relative;
  font-size: 1.5em;
  cursor: pointer;
  letter-spacing: 0.07em;
  font-weight: bold;
}

.portfolio-experiment a .text {
  font-family: 'Domine', serif;
  transform: translate3d(0, 0.7em, 0);
  display: block;
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.portfolio-experiment a:after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: calc(0.7em * 1.2);
  right: calc(0.7em * 1.2);
  height: 3px;
  background: #003049;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}

.portfolio-experiment .line.-bottom {
  bottom: -3px;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}

.portfolio-experiment a:hover .text,
.portfolio-experiment a:active .text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.portfolio-experiment a:hover:after,
.portfolio-experiment a:active:after {
  transform: scale3d(0, 1, 1);
  right: -3px;
  left: -3px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}

.portfolio-experiment a:hover .line,
.portfolio-experiment a:active .line {
  transform: scale3d(1, 1, 1);
}

.portfolio-experiment a:hover .line.-bottom,
.portfolio-experiment a:active .line.-bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}

article img{
  width: 50%;
  box-shadow:
}
.dimsum{
  margin-top: -2em;
  margin-left: 39.5em;
}
.desert, .fooddrinks{

  margin-left: -0.5em;
}

.situation{
  margin-left: 39.5em;
}

.block img{
  display:block;
}

 .bounce:hover {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  }
  40%, 43% {
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
  }
  70% {
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  }
  90% {
  -webkit-transform: translate3d(0,-4px,0);
  transform: translate3d(0,-4px,0);
  }
  }

  @keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  }
  40%, 43% {
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
  }
  70% {
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  }
  90% { -webkit-transform: translate3d(0,-4px,0); transform: translate3d(0,-4px,0);
  }
}

.block{
  background-color: #f6f9c2;

}

article {
    background-image: linear-gradient(
        to bottom,
        transparent 50px,
        #e91e63a3  50px,
        #e91e63a3 calc(100% - 50px),
        transparent 0
    );
    margin: auto auto 50px auto;
}
