@import url('https://fonts.googleapis.com/css?family=Cormorant|Marcellus|Monoton|Nothing+You+Could+Do|Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cardo&display=swap&subset=greek,latin-ext');

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

h1{
  font-size: inherit;
  font-family: 'Monoton', cursive;
  text-align: center;
  line-height: 1.5em;
  position: absolute;
  opacity: 0.5;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

h2{
  font-family: 'Cormorant', serif;
  text-align: justify;
  line-height: 1.5em;
}

h3{
  font-family: 'Tenor Sans', sans-serif;
}

p{
  font-family: 'Tenor Sans', sans-serif;
}

h5{
  font-family: 'Nothing You Could Do', cursive;
}

em{
  font-family: 'Nothing You Could Do', cursive;
}

body {
  color: #435757;
  font: 1.4em/1 'Noto Sans', sans-serif;
}

img{
  width:112%;
}

.container {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  text-align: center;
  color: white;
}

.container img{
  width: 112%;
}

.menu-nav{
  margin-left: 9em;
  padding-top: 1em;
  padding-bottom: 2em;
}

.menu-nav a {
  display:inline-block;
  text-decoration: none;
  padding-left: 2em;
  text-align: justify;
  font-family: 'Cardo', serif;
  color: #586F7C;
}


#intro_color{
  margin-left: 2em;
  margin-top: 2em;
  text-align: center;
}

span.color1, span.color2, span.color3, span.color4 {
    color: #FFD23F;
}
span.color1, span.color2, span.color3, span.color4 {
    font-size: 5em;
    line-height: 1em;
    font-weight: 5em;
    transition: color 1s;
    padding: 0;
}

span.color1:hover{
	color: pink;
}

span.color3:hover{
	color: steelblue;
}

span.color2:hover{
	color: #8C271E;
}

span.color4:hover{
	color: seagreen;
}

#intro_color span{
  display:inline-block;
}


/*---------------------------- bootstrap gallery ----------------------------*/

img{ max-width:112%;}

.gallery_box li{ width:33.333333%; max-width: 100% ; display:inline-block; float: left; text-align: center; overflow: hidden;    position: relative;}
.gallery_box{ padding:0;display: flow-root;}

.gallery_box li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.gallery_box li img{-webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;}
.gallery_box li:nth-child(even) {
    height: 304px;
}
.gallery_box li:nth-child(odd) {
    height: 438px;
}
.gallery_box li:nth-child(odd) .box_data{ background:rgba(0,0,0,0.17) }
.gallery_box li:nth-child(even) .box_data{ background:rgba(0,44,255,0.27) }
.gallery_box .box_data{ position:absolute; top: 0; left: 0; right:0; bottom:0; color:#fff;}
.gallery_box .box_data span{ position:absolute; top: 50%; transform: translateY(-50%); left:0 ; right:0; font-size:24px;}
.gallery_box li:hover .box_data{ background:rgba(255,0,39,0.55)}







footer p, a {
  display: inline-block;
  text-align: center;
}
